<div class="container-fluid" id="form-entry">
    <h1>Enter {{ vm.entry.title }} Raffle:</h1>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <label for="firstName" class="sr-only">First Name</label>
                <input type="text" ng-model="vm.entry.firstName" class="form-control input-lg" placeholder="First Name" id="firstName">
            </div>
            <div class="form-group">
                <label for="lastName" class="sr-only">Last Name</label>
                <input type="text" ng-model="vm.entry.lastName" class="form-control input-lg" placeholder="Last Name" id="lastName">
            </div>
            <div class="form-group">
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input type="text" ng-model="vm.entry.phoneNumber" class="form-control input-lg" placeholder="Phone Number" id="phoneNumber">
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
            ENTRY: {{ vm.entry }}
        </form>
    </div>
</div>
