<div class="container-fluid text-center" id="drawing">
    <h1>Draw Winners!
        <br/>
        <small>{{ vm.title }}
            <div class="hidden-md hidden-lg"></div>
            <span class="hidden-xs hidden-sm">|</span>
            # Entries: {{ vm.totalEntries }}
        </small>
    </h1>
    <div>
        <form
            class="form-inline"
            name="vm.drawing"
            novalidate>
            <div class="form-group" ng-hide="vm.isAuthorized">
                <label for="password" class="sr-only">
                    Enter Password
                </label>
                <input
                    class="form-control input-lg"
                    id="password"
                    name="password"
                    ng-model="vm.password"
                    ng-required="true"
                    placeholder="Enter Password"
                    type="text" />
                <button
                    class="submit btn btn-primary btn-lg btn-block"
                    ng-click="vm.validatePassword(); vm.drawing.$setPristine(true)"
                    ng-disabled="vm.drawing.$invalid"
                    type="submit">
                    Submit
                </button>
            </div>
            <div class="submit" ng-show="vm.isAuthorized">
                <button
                    class="btn btn-primary btn-lg"
                    ng-click="vm.drawWinner()"
                    ng-disabled="!vm.isAuthorized || vm.totalEntries === 0"
                    type="submit">
                    Draw Winner!
                </button>
            </div>
            <br/>
            <div class="form-group">
                <div ng-messages="vm.drawing.$submitted">
                    <div class="has-error">
                        <p
                            ng-hide="vm.isAuthorized"
                            class="help-block">
                            {{ vm.errorMessage }}
                        </p>
                    </div>
                    <div class="has-error">
                        <p
                            class="help-block"
                            ng-show="vm.isAuthorized && vm.totalEntries === 0">
                            There are no entries to draw from at this time.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <h2>Winners:</h2>
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody ng-repeat="winner in vm.winners track by $index">
                <tr>
                    <td>
                        <img src="assets/images/brand-giraffe.png" width="20" height="20" class="d-inline-block align-top" alt="">
                    </td>
                    <td>{{ winner.firstName }}</td>
                    <td>{{ winner.lastName }}</td>
                    <td>{{ winner.phoneNumber }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr ng-if="vm.winners.length === 0">
                    <td colspan="3">
                        No winners yet!
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
