<div class="container-fluid" id="form-entry">
    <h1>Enter Raffle:</h1>
    <div>
        <form name="entry" class="form-inline" novalidate>
            <div class="form-group" ng-class="{ 'has-error': entry.firstName.$touched && entry.firstName.$invalid}">
                <label for="firstName" class="sr-only">First Name</label>
                <input type="text" ng-model="vm.entry.firstName" class="form-control input-lg" placeholder="First Name" name="firstName" id="firstName" ng-required="true" />
            </div>
            <div class="form-group" ng-class="{ 'has-error': entry.lastName.$touched && entry.lastName.$invalid}">
                <label for="lastName" class="sr-only">Last Name</label>
                <input type="text" ng-model="vm.entry.lastName" class="form-control input-lg" placeholder="Last Name" name="lastName" id="lastName" ng-required="true" />
            </div>
            <div class="form-group" ng-class="{ 'has-error': entry.phoneNumber.$touched && entry.phoneNumber.$invalid}">
                <label for="phoneNumber" class="sr-only">Phone Number</label>
                <input type="text" ng-model="vm.entry.phoneNumber" class="form-control input-lg" placeholder="Phone Number" name="phoneNumber" id="phoneNumber" ng-required="true" />
            </div>
            <br/>
            <div class="help-block form-group" ng-messages="entry.$error" ng-if="entry.$submitted && entry.$error">
                <p ng-message="required">Missed a field!</p>
            </div>
            <div class="submit">
                <button type="submit" ng-click="" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>
