/*---------------------------------
Variables
---------------------------------*/
@gray-dark:    lighten(#000, 20%);
/*---------------------------------
Global
---------------------------------*/
body {
    font-family: 'Roboto Slab', serif;
    color: @gray-dark;
    height: 100%;
}
h1 {
    font-weight: bold;
    font-size: 40pt;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-height: 85vh;
}
/*---------------------------------
form
---------------------------------*/
#form-entry h1 {
    padding: 20px 0px;
}
#form-entry .submit {
    padding: 20px 0px;
    margin: 5px 0px;
}
