/*---------------------------------
Variables
---------------------------------*/
@gray-dark:    lighten(#000, 20%);
/*---------------------------------
Global
---------------------------------*/
body {
    font-family: 'Roboto Slab', Helvetica, serif;
    color: @gray-dark;
    height: 100%;
}
h1 {
    font-weight: bold;
    font-size: 40pt;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-height: 85vh;
}
/*---------------------------------
forms
---------------------------------*/
#form-entry h1 {
    padding: 20px 0px;
}
#drawing h1 {
    padding: 20px 0px;
}
#form-create h1 {
    padding: 20px 0px;
}
#form-create a {
    font-size: 20pt;
}
#form-create small {
    font-size: 15pt;
}
.help-block {
    font-weight: bold;
}
.submit {
    padding: 10px 0px;
    margin: 10px 0px;
}
.has-error input {
    background-color: #d0504e;
}
